name: Go Build & Test

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21.x"
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -v ./...
      - name: Vet (static analysis)
        run: go vet ./...
      - name: Run linters
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1
      - name: Test with coverage
        run: go test -cover ./...
      # Generates a BoM and uploads it to OWASP Dependency Track
      - name: Generates BoM and upload to OWASP DTrack
        id: riskscoreFromDT
        uses:  Quobis/action-owasp-dependecy-track-check@v1.3.1
        with:
          url: ${{ vars.DTRACK_URL }}
          key: '${{ secrets.DTRACK_KEY }}'
          language: 'golang'
      # Show the risk score output 
      - name: Get the output time
        run: echo "The risk score of the project is ${{ steps.riskscoreFromDT.outputs.riskscore }}"
